{% autoescape false %}
{{ session_header }}
{{ title }}

<table id="session-properties" class="data_table">
    <tr>
        <td>{{ 'CreatedBy'|trans }}</td>
        <td>{{ session_admin.complete_name }}</td>
    </tr>
    <tr>
        <td>{{ 'GeneralCoach' | trans }} :</td>
        <td>{{ general_coach.complete_name }}</td>
    </tr>
    {% if session_category  %}
    <tr>
        <td>{{ 'SessionCategory' | trans }} </td>
        <td>{{ session_category }}</td>
    </tr>
    {% endif %}

    {% if session.duration > 0 %}
    <tr>
        <td>{{ 'Duration' | trans }} </td>
        <td>
            {{ session.duration }} {{ 'Days' | trans }}
        </td>
    </tr>
    {% else %}
    <tr>
        <td>{{ 'DisplayDates' | trans }} </td>
        <td>{{ session_dates.display }}</td>
    </tr>
    <tr>
        <td>{{ 'AccessDates' | trans }} </td>
        <td>{{ session_dates.access }}</td>
    </tr>
    <tr>
        <td>{{ 'CoachDates' | trans }} </td>
        <td>{{ session_dates.coach }}</td>
    </tr>
    {% endif %}

    <tr>
        <td>{{ 'Description' | trans }} </td>
        <td>
            {{ session.description }}
        </td>
    </tr>
    <tr>
        <td>{{ 'ShowDescription' | trans }} </td>
        <td>
            {% if session.show_description == 1 %}
                {{ 'Yes' | trans }}
            {% else %}
                {{ 'No' | trans }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'SessionVisibility' | trans }} </td>
        <td>
            {{ session_visibility }}
        </td>
    </tr>
    {% if url_list %}
        <tr>
            <td>URL</td>
        <td>
        {% for url in url_list %}
            {{ url.url }}
        {% endfor %}
        </td>
        </tr>
    {% endif %}

    {% for extra_field in extra_fields %}
        <tr>
            <td>{{ extra_field.text }}</td>
            <td>{{ extra_field.value }}</td>
        </tr>
    {% endfor %}
</table>

{{ course_list }}
{{ user_list }}

{{ requirements }}
{{ dependencies }}

{% endautoescape %}
