{% autoescape false %}
{% if not courses is empty %}
    <div class="classic-courses">
        {% for item in courses %}
        <div class="card">
            <div class="card-body">
                <div class="card-row">
                    <div class="card-description">
                        <h5 class="title">
                            {% if item.visibility == constant('COURSE_VISIBILITY_CLOSED') and not item.current_user_is_teacher %}
                                {{ item.title }} {{ item.code_course }}
                            {% else %}
                                <a href="{{ item.link }}">
                                    {{ item.title }} {{ item.code_course }}
                                </a>
                                {{ item.notifications }}
                                {% if item.is_special_course %}
                                    {{ 'klipper.png' | img(22, 'CourseAutoRegister'|get_lang ) }}
                                {% endif %}
                            {% endif %}
                        </h5>
                        <div class="teachers">
                            {% if item.teachers|length > 0 %}
                                {% for teacher in item.teachers %}
                                    {% set counter = counter + 1 %}
                                    {% if counter > 1 %} | {% endif %}
                                    <a href="{{ teacher.url }}" class="ajax"
                                       data-title="{{ teacher.firstname }} {{ teacher.lastname }}">
                                        {{ teacher.firstname }} {{ teacher.lastname }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-image">
                        {% if item.visibility == constant('COURSE_VISIBILITY_CLOSED') and not item.current_user_is_teacher %}
                            <span class="thumbnail">
                                {% if item.thumbnails != '' %}
                                    <img src="{{ item.thumbnails }}" title="{{ item.title }}"
                                         alt="{{ item.title }}"/>
                                {% else %}
                                    {{ 'blackboard.png' | img(48, item.title ) }}
                                {% endif %}
                            </span>
                        {% else %}
                            <a href="{{ item.link }}" class="thumbnail">
                                {% if item.thumbnails != '' %}
                                    <img src="{{ item.thumbnails }}" title="{{ item.title }}"
                                         alt="{{ item.title }}"/>
                                {% else %}
                                    {{ 'blackboard.png' | img(48, item.title ) }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-row">
                    {% if item.edit_actions != '' %}
                        <div class="edit">
                            <a class="btn btn-light btn-sm btn-xs" href="{{ item.edit_actions }}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            {% if item.document != '' %}
                                {{ item.document }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if item.student_info %}
                        {% if item.student_info.progress is not null or item.student_info.score is not null or item.student_info.certificate is not null %}
                            <div class="course-student-info">
                                <div class="student-info">
                                    {% if (item.student_info.progress is not null) %}
                                        {{ "StudentCourseProgressX" | get_lang | format(item.student_info.progress) }}
                                    {% endif %}

                                    {% if (item.student_info.score is not null) %}
                                        {{ "StudentCourseScoreX" | get_lang | format(item.student_info.score) }}
                                    {% endif %}

                                    {% if (item.student_info.certificate is not null) %}
                                        {{ "StudentCourseCertificateX" | get_lang | format(item.student_info.certificate) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    {% endfor %}
    </div>
{% endif %}
{% endautoescape %}