{% if not courses is empty %}
    <div class="grid-courses">

        <div class="card-grid">
            {% for item in courses %}
                <div class="card card-hover">
                    <div class="card-body">
                        <div class="flex-column">
                            <div class="flex-item">
                                <div class="image">
                                    {% if item.visibility == constant('COURSE_VISIBILITY_CLOSED') and not item.current_user_is_teacher %}
                                        <img src="{{ item.image }}" class="img-fluid">
                                    {% else %}
                                        <a title="{{ item.title }}" href="{{ item.link }}">
                                            <img src="{{ item.image }}" alt="{{ item.title }}" class="img-fluid">
                                        </a>
                                    {% endif %}
                                    {% if item.edit_actions != '' %}
                                        <div class="admin-actions">
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-default btn-sm" href="{{ item.edit_actions }}">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                                {% if item.document == '' %}
                                                    {{ item.document }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="flex-item p-3">
                                {% if item.category != '' %}
                                    <div class="category">{{ item.category }}</div>
                                {% endif %}
                                <h4 class="title text-ellipsis mb-2" title="{{ item.title }}">
                                    {% if item.visibility == constant('COURSE_VISIBILITY_CLOSED') and not item.current_user_is_teacher %}
                                        {{ item.title_cut }}
                                        <span class="code-title">{{ item.code_course }}</span>
                                    {% else %}
                                        <a title="{{ item.title }}" href="{{ item.link }}">{{ item.title_cut }}</a>
                                        <span class="code-title">{{ item.code_course }}</span>
                                    {% endif %}
                                </h4>
                                <div class="flex-item">
                                    <ul class="avatar-row">
                                        {% set count_img = item.teachers|length + 1  %}
                                        {% for teacher in item.teachers %}
                                            {% set count_img = count_img - 1 %}

                                            <li class="avatar-item" style="z-index: {{ count_img }};">
                                                <a href="{{ teacher.url }}" class="ajax"
                                                   data-title="{{ teacher.firstname }} {{ teacher.lastname }}" title="{{ teacher.firstname }} {{ teacher.lastname }}">
                                                <span class="avatar avatar-person" style="background-image: url('{{ teacher.avatar }}')">
                                                    <img class="avatar-print" title="{{ teacher.firstname }} {{ teacher.lastname }}" src="{{ teacher.avatar }}"/>
                                                </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for item in courses %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="items my-courses">
                        <div class="image">
                            {% if item.is_special_course %}
                                <div class="pin">{{ item.icon }}</div>
                            {% endif %}




                        </div>
                        <div class="description">
                            {% if item.notifications %}
                                <div class="notifications">{{ item.notifications }}</div>
                            {% endif %}
                            {% if item.student_info %}
                                {% if item.student_info.progress is not null or item.student_info.score is not null or item.student_info.certificate is not null %}
                                    <div class="course-student-info">
                                        <div class="student-info">
                                            {% if (item.student_info.progress is not null) %}
                                                {{ "StudentCourseProgressX" | get_lang | format(item.student_info.progress) }}
                                            {% endif %}

                                            {% if (item.student_info.score is not null) %}
                                                {{ "StudentCourseScoreX" | get_lang | format(item.student_info.score) }}
                                            {% endif %}
                                            {% if (item.student_info.certificate is not null) %}
                                                <span title="{{ "StudentCourseCertificateX" | get_lang | format(item.student_info.certificate) }}">
                                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                                    {{ item.student_info.certificate }}
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
