<div class="col-md-12">
    <div class="openbadges-tabs">
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ url('web.main') }}admin/skill_badge.php">{{ 'Home' | trans }}</a>
            </li>
            <li class="active">
                <a href="{{ url('web.main') }}admin/skill_badge_list.php">{{ "CurrentBadges" | trans }}</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="openbadges-introduction">
                <div class="openbadges-tablet">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ 'Name' | trans }}</th>
                                <th>{{ 'Description' | trans }}</th>
                                <th>{{ 'Actions' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for skill in skills %}
                            <tr>
                                <td>
                                    {% if skill.icon is empty %}
                                        <img src="{{ 'badges-default.png' | icon(128) }}" width="50" height="50" alt="{{ skill.name }}">
                                    {% else %}
                                        <img src="{{ skill.web_icon_path }}" width="50" height="50" alt="{{ skill.name }}">
                                    {% endif %}

                                    {{ skill.name }}
                                </td>
                                <td>{{ skill.description }}</td>
                                <td>
                                    <a href="{{ url('web.main') }}admin/skill_badge_create.php?id={{ skill.id }}"
                                       title="{{ 'Edit' | trans }}">
                                        <img src="{{ 'edit.png' | icon(22) }}"
                                             width="22" height="22"
                                             alt="{{ 'Edit' | trans }}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
