{% if allowSkillsTool %}
    <div class="btn-group">
        <a class="btn btn-default"
           href="{{ url('web.main') }}social/skills_wheel.php">{{ 'SkillsWheel' | trans }}</a>
    </div>
{% endif %}

<h1 class="page-header">{{ 'SkillsAcquired' | trans }}</h1>

<form class="form-inline" method="post" action="{{ _p.web_self }}">
    <label>{{ 'Students' | trans }}</label>
    <select name="student" id="student">
        <option value="0">{{ 'Select' | trans }}</option>
        {% for student in followedStudents %}
            <option value="{{ student.user_id }}" {{ (student.user_id == selectedStudent) ? 'selected' : '' }}>{{ student.completeName }}</option>
        {% endfor %}
    </select>
    <button type="submit"
            class="btn btn-primary">{{ 'Search' | trans }}</button>
</form>

{% if rows %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Student' | trans }}</th>
                <th>{{ 'SkillsAcquired' | trans }}</th>
                <th>{{ 'Date' | trans }}</th>
                <th>{{ 'Course' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.completeName }}</td>
                    <td>{{ row.skillName }}</td>
                    <td>{{ row.achievedAt }}</td>
                    <td><img src="{{ row.courseImage }}" alt="{{ row.courseName }}"> {{ row.courseName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        {{ 'NoResults' | trans }}
    </div>
{% endif %}
